build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.ninja_deps
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/.ninja_log
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/CMakeFiles/legilimens.dir/
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/CMakeFiles/legilimens_autogen.dir/AutogenUsed.txt
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/CMakeFiles/legilimens_autogen.dir/ParseCache.txt
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/legilimens.exe
build/Desktop_Qt_6_9_0_MinGW_64_bit-Debug/legilimens_autogen/